<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :message %>
    <%= f.association :user %>
    <%= f.input :resolved %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
